# Starter pipeline

# Start with a minimal pipeline that you can customize to build and deploy your code.
# Add steps that build, run tests, deploy, and more:
# https://aka.ms/yaml

trigger:
- main

pool:
  vmImage: windows-latest

stages:
  - stage: Build
    displayName: Build Package
    jobs:
      - job: BuildPackage
        steps:
        - task: UiPathPack@2
          inputs:
            versionType: 'AutoVersion'
            projectJsonPath: '$(Build.SourcesDirectory)\ShowMessage'
            outputType: 'Process'
            orchestratorConnection: 'Staging Orchestrator'
            outputPath: '$(Build.ArtifactStagingDirectory)\Output'
            traceLevel: 'Verbose'